/.*                        export-ignore
/AGENTS.md                 export-ignore
/Makefile                  export-ignore
/*.dist                    export-ignore
/*.?ml                     export-ignore
/examples                  export-ignore
/tests                     export-ignore

# Test with:
# git archive --format=tar HEAD | tar t
